{% if site.data.navigation %}
  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">{{ site.data.text[site.locale].menu_label | default: 'Menu' }}</a>

    {% include masthead.html %}    

    <nav id="primary-nav" class="site-nav animated drop">
      <ul>
        {%- for link in site.data.navigation -%}
          {%- if link.url contains '://' -%}
            {%- assign url = link.url -%}
          {%- else -%}
            {%- assign url = link.url | relative_url -%}
          {%- endif -%}
          
          {%- if link.title == 'Programs' -%}
            <li>
               <div class="dropdown">
                    <button style="font-weight:400;" class="btn btn--primary dropdown-toggle"
                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PROGRAMS
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/faculty/biological-physics/">Biological Physics</a>
                        <a class="dropdown-item" href="/faculty/biology-maths">Biology & Mathematics</a>
                        <a class="dropdown-item" href="/faculty/biophysical-chemistry">Biophysical Chemistry</a>
                        <a class="dropdown-item" href="/faculty/biology-cs/">Computer Science & Biology</a>
                        <a class="dropdown-item" href="/faculty/physiology-maths/">Physiology & Mathematics</a>
                        <a class="dropdown-item" href="/faculty/physiology-physics/">Physiology & Physics</a>
                        <a class="dropdown-item" href="/faculty/quantitative-biology/">Quantitative Biology</a>
                    </div>
                </div>     
            </li>
          {%- elsif link.title == 'Faculty' -%}
            <li>
              <div class="dropdown">
                  <button style="font-weight:400;" class="btn btn--primary dropdown-toggle"
                  type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  FACULTY
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                    <a href="/faculty/advisors/" class="dropdown-item">Advisors</a>
                    <a href="/faculty/professors/" class="dropdown-item">Professors</a>
                  </div>
              </div>
            </li>
          {%- elsif link.title == 'Events' -%}
            <li>
              <div class="dropdown">
                  <button style="font-weight:400;" class="btn btn--primary dropdown-toggle"
                  type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  EVENTS
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <a href="/events/photos/" class="dropdown-item">Photos</a>
                    <a href="/events/" class="dropdown-item">Professors Symposium</a>
                    <a href="/events/" class="dropdown-item">Socials</a>
                  </div>
              </div>
            </li>
          {%- else -%}
            <li><a href="{{ url }}">{{ link.title }}</a></li>
          {%- endif -%}

        {%- endfor -%}
      </ul>
    </nav>
  </div><!-- /.navigation-wrapper -->
{% endif %}
